<html lang="en">
<head>
    <title>Todo List</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css">
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>
<body>
    <h1>My Todo List</h1>
    <div id="todo-table">

        <form>
            <input type="text" name="item" placeholder="Add new item..." required>
            <button id="submit">Add Item</button>
        </form>
        

        <ul id="list">
            <% for(var i=0; i<todos.length; i++){ %>
                <li><%= todos[i].item %></li>
            <% } %>
        </ul>
    </div>


    <script src="/assets/todo-list.js"></script>
</body>
</html>